body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0 0 0 0 ;
}

div#bianca-minnie-background {
    margin-right: auto;
    margin-left: auto;
}

div#bianca-minnie-background div#overlay {
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
}

div#bianca-minnie-background div#overlay ul, a {
    list-style: none;
    color: #FFF;
    text-decoration: none;
}

div#bianca-minnie-background div#overlay ul span {
    margin-right: 5px;
}

.background {
    background-attachment: inherit;
    background: url("bianca_minnie.jpg") 0% 0%/100%;
    background-size: cover;
}